<div class="absolute flex w-full h-full top-0 left-0 justify-center items-center">
    <form class="flex flex-col w-3/4 md:w-1/4 example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- <div> -->
        <mat-card class="p-4 mb-4 !bg-red-400" *ngIf="error">Username or Password is incorrect !</mat-card>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="f['username'].hasError('required')">
                Username is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="f['password'].hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>
        <button mat-raised-button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1">asdf</span>
            Login
        </button>
        <!-- </div> -->
    </form>
</div>